<%= render "/navbar" %>
<h1 class="text-center"><%= @message %></h1>
<% if current_registered_user%>
  <h1 class="text-center">Your Cart</h1>
  <% if @cart_books%>
    <table class="table table-striped">
      <thead>
        <tr class="header">
          <th>ID</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_books.each do |cart_book| %>
        <% if cart_book.date_time_checked_out == nil %>
          <tr>
            <td><%= cart_book.id %></td>
            <td><%= cart_book.title %></td>
            <td><%= button_to("Remove from Cart", "/books/remove_from_cart/" + cart_book.id.to_s, :method => :get) %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>
<% end %>
