<%= render "/navbar" %>
<h1 class="text-center">😎 Welcome to the CSUN Library 2.0 😎</h1>
<p class="text-center">Finally, a library for <i>cool</i> kids</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Available?</th>
      <th scope="col">Checked Out At</th>
      <th scope="col">Available At</th>
      <% if current_registered_user && current_registered_user.role == 1 %>
        <th scope="col">Checked Out By</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td>
        <% if book.available? %>
          <%= tag_label('Available!', :success) %>
        <% else %>
          <%= tag_label('Unavailable', :danger) %>
        <% end %>
      </td>
      <td><%= book.date_time_checked_out%></td>
      <td><%= book.date_time_avail %></td>
      <td>
        <% if current_registered_user %>
          <% if can? :manage, :all %>
            <% if !book.available?  && book.date_time_checked_out != nil %>
              <%=
              @user = RegisteredUser.find(book.user)
              link_to(@user.card_number, registered_user_path(@user.id), :class => 'action show', params: {mode: "view"})
              %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if book.available? %>
          <%= button_to("Add to Cart", { :action => "edit", :id => book.id}, {:method => :get, :class => 'btn btn-primary btn-sm'})%>
        <% else %>
          <%= button_to("Add to Cart", { :action => "edit", :id => book.id}, {:method => :get, :class => 'btn btn-primary btn-sm disabled'})%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
