<h1>Catalog</h1>
<p><%= link_to("<< Home", "/")%></p>
<p>Cart: <%= @cart %></p>

<table class="listing" summary="Book list">
    <tr class="header">
      <th>ID</th>
      <th>Title</th>
      <th>Available</th>
      <th>Checked Out</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td><%= book.available? %></td>
      <td><%= book.date_time_checked_out%></td>
      <td>
        <% if book.available? %>
          <%= button_to("Add to Cart", { :action => "edit", :id => book.id}, {:method => :get, :disabled => false})%>
        <% else %>
          <!-- The button only gets disabled once an Admin assists the RegisteredUser
               in completing the checkout process. Just because it's in someone's
               cart technically doesn't mean it's unavailable! This library
               operates on a dibs-based checkout model. ;) -->
          <%= button_to("Add to Cart", { :action => "edit", :id => book.id}, {:method => :get, :disabled => true})%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
